/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "dm-regular";
  src: url(/fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: "dm-medium";
  src: url(/fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: "dm-bold";
  src: url(/fonts/DMSans-Bold.ttf);
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(800px, auto) 1fr minmax(450px, auto)/1fr;
  grid-template-areas: "header" "main" "footer";
}

.header {
  height: 700px;
  grid-area: header;
  background-image: linear-gradient(to right, #782C9C, #192063);
  display: grid;
  grid-template: 1fr 2fr 2fr/1fr 310px minmax(auto, 310px) minmax(auto, 310px) 310px 1fr;
  align-items: center;
}
.header__logo {
  width: 150px;
  grid-column: 2;
}
.header__menu {
  width: 500px;
  grid-column: 3/5;
  justify-self: center;
}
.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}
.header__link {
  font-size: 16px;
  font-family: "roboto";
  color: white;
  text-decoration: none;
}
.header__link_home {
  color: #FF014F;
  text-decoration: underline;
}
.header__title {
  font-size: 70px;
  font-family: "dm-bold";
  color: white;
  text-align: center;
  grid-row: 2;
  grid-column: 2/6;
}
.header__subtitle {
  font-size: 16px;
  font-family: "dm-regular";
  color: white;
  color: #DEDEDE;
  text-align: center;
  align-self: start;
  line-height: 30px;
  grid-row: 3;
  grid-column: 2/6;
}

.main {
  grid-area: main;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 620px) minmax(auto, 620px) 1fr;
  margin-bottom: 140px;
}

.content {
  grid-column: 2/4;
}
.content__title {
  font-size: 34px;
  font-family: "dm-bold";
  color: white;
  color: black;
  text-align: center;
  margin-bottom: 23px;
}
.content__subtitle {
  font-size: 16px;
  font-family: "dm-regular";
  color: white;
  text-align: center;
  color: #313131;
  line-height: 30px;
  margin-bottom: 30px;
}
.content__gallery {
  margin-bottom: 200px;
}
.content__people {
  width: 1250px;
}

.gallery__items {
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template: 180px 45px 186px 184px/220px 292px 26px 271px 200px;
}
.gallery__item_1 {
  grid-row: 1/3;
  grid-column: 1;
}
.gallery__item_1 img {
  height: 240px;
}
.gallery__item_2 {
  grid-row: 1;
  grid-column: 2/4;
}
.gallery__item_3 {
  grid-row: 1/3;
  grid-column: 4;
}
.gallery__item_4 {
  width: 271px;
  grid-row: 1/3;
  grid-column: 5;
}
.gallery__item_5 {
  grid-row: 3;
  grid-column: 1;
}
.gallery__item_5 img {
  height: 185px;
}
.gallery__item_6 {
  grid-row: 2/4;
  grid-column: 2/4;
}
.gallery__item_7 {
  width: 527px;
  grid-row: 3;
  grid-column: 4/6;
}
.gallery__item_7 img {
  height: 186px;
}
.gallery__item_8 {
  grid-row: 4;
  grid-column: 1;
}
.gallery__item_8 img {
  height: 242px;
}
.gallery__item_9 {
  grid-row: 4;
  grid-column: 2;
}
.gallery__item_9 img {
  height: 242px;
}
.gallery__item_10 {
  grid-row: 4;
  grid-column: 3/5;
}
.gallery__item_10 img {
  width: 300px;
  height: 242px;
}
.gallery__item_11 {
  width: 241px;
  grid-row: 4;
  grid-column: 5/6;
}
.gallery__item_11 img {
  height: 242px;
}

.people__title {
  text-align: center;
  font-size: 34px;
  font-family: "dm-bold";
  color: white;
  color: black;
  margin-bottom: 30px;
}
.people__title_pink {
  font-size: 34px;
  font-family: "dm-bold";
  color: white;
  color: #FF014F;
}
.people__subtitle {
  font-size: 16px;
  font-family: "dm-regular";
  color: white;
  color: #313131;
  text-align: center;
  margin-bottom: 55px;
}
.people__items {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 140px;
}
.people__item {
  justify-self: center;
}

.products__title {
  grid-column: span 3;
  font-size: 34px;
  font-family: "dm-bold";
  color: white;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}
.products__subtitle {
  grid-column: span 3;
  font-size: 16px;
  font-family: "dm-regular";
  color: white;
  color: #313131;
  text-align: center;
  margin-bottom: 55px;
}
.products__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.products__item {
  justify-self: center;
  width: 370px;
  box-shadow: darkgray 0 0 4px;
  padding-bottom: 20px;
}
.products__name {
  font-size: 16px;
  font-family: "dm-medium";
  color: white;
  color: #1E2D48;
  text-align: center;
  margin-bottom: 10px;
}
.products__descripcion {
  font-size: 14px;
  font-family: "dm-regular";
  color: white;
  color: #313131;
  text-align: center;
  margin-bottom: 45px;
}
.products__button {
  width: 170px;
  font-size: 14px;
  font-family: "dm-medium";
  color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 15px;
  margin-left: 100px;
}
.products__button a {
  text-decoration: none;
  color: #1E2D48;
}
.products__button_pink {
  background-color: #FF014F;
  border: white;
}
.products__button_pink a {
  color: white;
}

.footer {
  background-image: linear-gradient(to bottom, #1E1E46, #1C0088);
  grid-area: footer;
  padding-left: 130px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 270px 200px;
}

.list__title {
  font-size: 18px;
  font-family: "dm-medium";
  color: white;
  margin-bottom: 35px;
}
.list__base {
  font-size: 14px;
  font-family: "dm-regular";
  color: white;
  margin-bottom: 15px;
}
.list__base a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1024px) {
  .header {
    grid-template: 1fr 2fr 2fr/1fr 310px minmax(auto, 310px) minmax(auto, 310px) 310px 1fr;
    align-items: center;
    margin-bottom: 120px;
  }
  .header__logo {
    width: 140px;
    justify-self: center;
  }
  .header__link {
    font-size: 15px;
    font-family: "roboto";
    color: white;
  }
  .header__link_home {
    color: #FF014F;
    text-decoration: underline;
  }
  .header__title {
    font-size: 66px;
    font-family: "dm-bold";
    color: white;
  }
  .header__subtitle {
    font-size: 15px;
    font-family: "dm-regular";
    color: white;
    color: #DEDEDE;
  }
  .content__title {
    font-size: 32px;
    font-family: "dm-bold";
    color: white;
    color: black;
  }
  .content__subtitle {
    font-size: 15px;
    font-family: "dm-regular";
    color: white;
    color: #313131;
    line-height: 25px;
  }
  .content__gallery {
    margin-bottom: 170px;
  }
  .people__title {
    font-size: 32px;
    font-family: "dm-bold";
    color: white;
    color: black;
    margin-bottom: 25px;
  }
  .people__title_pink {
    font-size: 32px;
    font-family: "dm-bold";
    color: white;
    color: #FF014F;
  }
  .people__subtitle {
    font-size: 15px;
    font-family: "dm-regular";
    color: white;
    color: #313131;
    margin-bottom: 50px;
  }
  .people__items {
    margin-bottom: 120px;
  }
  .people__item {
    justify-self: center;
  }
  .people__item_end {
    justify-self: end;
  }
  .people__item_start {
    justify-self: start;
  }
  .products__title {
    font-size: 32px;
    font-family: "dm-bold";
    color: white;
    color: black;
    margin-bottom: 25px;
  }
  .products__subtitle {
    font-size: 15px;
    font-family: "dm-regular";
    color: white;
    color: #313131;
    margin-bottom: 50px;
  }
  .products__item {
    width: 335px;
  }
  .products__item_end {
    justify-self: end;
  }
  .products__item_start {
    justify-self: start;
  }
  .products__name {
    font-size: 15px;
    font-family: "dm-medium";
    color: white;
    color: #1E2D48;
  }
  .products__descripcion {
    font-size: 13px;
    font-family: "dm-regular";
    color: white;
    color: #313131;
    margin-bottom: 40px;
  }
  .products__button {
    width: 130px;
    font-size: 14px;
    font-family: "dm-medium";
    color: white;
    margin-left: 100px;
  }
  .footer {
    padding-left: 110px;
    padding-top: 65px;
  }
  .list__title {
    font-size: 17px;
    font-family: "dm-medium";
    color: white;
    margin-bottom: 33px;
  }
  .list__base {
    font-size: 13px;
    font-family: "dm-regular";
    color: white;
  }
}/*# sourceMappingURL=main.css.map */